{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}
{% block content %}
 <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing {% if block ("carousel") is not defined %}mt-5{% endif %}">

    <!-- Three columns of text below the carousel -->
    <div class="row"> 
      <div class="col-lg-4">
          <img src="{{ asset('assets/img/body.png')}}" class="img-fluid" width="140" height="140" alt="Arts martiaux internes ou externes?">
      <hr>
        <h2 class="fw-normal">Arts martiaux Internes ou Externes?</h2>
        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
      <img src="{{ asset('assets/img/taichichuan.png')}}" class="bd-placeholder-img " width="140" height="140" alt="Arts martiaux internes ou externes?">
      <hr>
      <h2 class="fw-normal">Tai chi chuan </h2>
        <p>Le taic chichuan est ancien d 'environ 600 ans</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{{ asset('assets/img/qiqong.png')}}">
          <hr>
            <h2 class="fw-normal">Qi Qong</h2>
          
          <p>gymanstaique medecinale ancestrale, optez pour une routine matinale ou en soirée.</p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">Temple de shaolin <span class="text-muted">Shaolin Quan.</span></h2>
        <p class="feature"><b>Le monastère de Shaolin</b> se situe sur le mont Song dans la province de Henan en chine. C'est un 
        temple bouddhiste Chan (zen en nippon) qui fut édifié vers la fin du V Siècle, en l'honneur du moine indien <b>Batuo</b>.
        Le style <b>Shaolin Quan</b> est généralement considéré comme le premier art martial institutionnalisé. Selon la légende,
        <b> Bodhidharma</b> aurait enseigné cet art martial au ve siècle aux moines du temple Shaolin, pour les aider à se défendre 
        des animaux et des brigands qui rôdaient autour du monastère. Le <B>shǒubó</b> (手搏, attesté dès le IIIe siècle av. J.-C.),
        et le <B>xiang bo</b> (similaire au sanda) dans les années 600 av. J.-C., ne sont que deux exemples d'anciens arts martiaux chinois.
        Il existe deux styles : Shaolin Quan. Le style du Nord et celui du Sud. La différence est due à la situation géographique de la Chine.
         Au Sud peu de place, Le style du Sud se caractérise par des mouvements courts, puissants et des positions assez hautes. Au Nord de 
         vastes plaines permettant de s’entraîner, se définit en souplesse, amplitude et de basses positions, suites ou enchaînements de mouvements 
         permettant un travail aussi bien respiratoire que musculaire.. Le temple Shaolin du Nord est
        l'original du Monastère de Shaolin, (Henan). Au sud le Temple Nan monastère Shaolin en Fujian est détruit depuis plusieurs siècles. 
        (L’existence et l’emplacement sont encore discutés). Chaque école utilise cinq animaux de base (Dragon, Serpent, Grue, Tiger, Léopard),
         chacun a plusieurs branches, à son tour.
         </p>
        </div>
        <div class="col-md-5">
        <img src="{{ asset('assets/img/c4.jpg')}}" class="img-fluid" width="500" height="500" alt="Arts martiaux internes ou externes?">
        <p class="text-center">Monastère Shaolin</p>
        <img src="{{ asset('assets/img/c8.jpg')}}" class="img-fluid" width="500" height="500" alt="Arts martiaux internes ou externes?">
      <p class="text-center">Démonstration du Shaolin Quan</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">Mont wu-Tang <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Berceau des arts martiaux internes And yes, this is the last block of representative placeholder 
          content. Again, not really intended to be actually
         read, simply here to give you a better view of what this would look like with some actual content. Your content 
        And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content</p>
        </div>
        <div class="col-md-5 order-md-1">
        <img src="{{ asset('assets/img/c9.jpg')}}" class="img-fluid" width="500" height="500" alt="Arts martiaux internes ou externes?">
        <p class="text-center">Temple du Mont Wu-Tang</p>

        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">L'histoire des Arts Martiaux <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, 
          simply here to give you a better view of what this would look like with some actual content. Your content.
        And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content</p>
        </div>
        <div class="col-md-5">
        <img src="{{ asset('assets/img/body9.jpg')}}" class="img-fluid" width="500" height="500" alt="Arts martiaux internes ou externes?">

        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
{% endblock %}










