{# twig pour étendre ma base.html #}
{% extends 'base.html.twig' %}
{# twig pour titre #}
{% block title %}Arts Martiaux - la voie du Dragon{% endblock %}
{# twig content pour afficher le contenue ci dessous #}
{% block content %}
        <div class="row">
            <div class="col-md-2"><!-- diviser en 2 colonnes/1 er colonne pour la barre de recherche -->
                    <h2 class="title-search">Recherche</h2><!-- class css habiller barre de rechercher -->
                    <div class="form3"><!-- class css pour habiller form -->
                        {# twig pour envoyer le formulaire #}
                        {{ form(form)|raw }} {# won't be escaped #}
                    </div><!-- /.form3 -->
            </div><!-- /.col-md-2 -->
            <div class="col-md-10"><!-- 2 colonnne plus grandes pour mettre les fiches(product) -->
                <h1 class="title2">Arts Martiaux</h1>
                <div class="row"><!-- rediviser pour que chaque fiches produits -->
                    {# twig boucle for #}
                    {% for product in products %}
                        <div class="col-md-4"><!-- fiche produits largeur -->
                                    <div class="title-item2">
                                        {# twig pour afficher la fiche produits #}
                                        <h2>{{ product.name|upper|raw }}</h2>{# won't be escaped #}
                                    </div><!-- /.title-item2 -->
                                    <div class="image-arts"><!-- css classe pour habiller la fiche -->
                                        {# twig pour afficher le slug #}
                                        <a href="{{ path('product',{'slug': product.slug|upper|raw})}}">{# won't be escaped #}
                                        {# fonctions twig pour afficher l'image du produits/nom/subtitle #}
                                            <img src="/uploads/{{ product.illustration}}" 
                                            alt="{{ product.name|upper|raw }}" {# won't be escaped #} 
                                            title="{{ product.subtitle|upper|raw}}" {# won't be escaped #} class="cover narrow" >
                                        </a></br>
                                    </div><!-- /.image-arts -->
                                    <hr>
                        </div><!-- /.col-md-4 -->
                    {% endfor %}{# fin de la boucle for twig #}
                </div><!-- /.row -->
            </div><!-- /.col-md-10 -->
        </div><!-- /.row -->
{% endblock %}{# twig fin de contenue #}
