{% extends 'base.html.twig' %}

{% block title %}Arts Martiaux - la voie du Dragon{% endblock %}

{% block content %}
<div class="body">
    <div class="row">
        <div class="col-md-2">
        <hr>
            <h2>Recherche</h2>
                {{ form(form) }}
                <img src="/assets/img/dragon-account.png" width="200" height="auto">
        </div>
        <div class="col-md-10">
        <hr>
            <h1 class="title2">Arts Martiaux</h1>
        <div class="row">
                 {% for product in products %}
                 <div class="col-md-4">
                    <div class="title-item2">
                        <h2>{{ product.name }}</h2>
                     </div>
                     <div class="image-arts">
                            <a href="{{ path('product',{'slug': product.slug})}}"> 
                            <img src="/uploads/{{ product.illustration }}" 
                             alt="{{ product.name }}" class="img-fluid"></a></br>
                            </div>
                             <hr>
                            </div>
                {% endfor %}
            </div>
    </div>

</div> 
{% endblock %}
