{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}-La voie du Dragon{% endblock %}



{% block content %}
<hr>
<div class="">
        <h1 class="product-title">{{ product.name }}</h1>
        <img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid">
        
    </div>
       
<div class="">
        <span class="">{{ product.subtitle}}</span>
        {{ product.description}}  

<hr>
<span class="">{{ product.url }}</span>
<hr>
<span>{{ product.email}}</span>    
</div>     
{% endblock %}
