{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}-La voie du Dragon{% endblock %}



{% block content %}
<div class="col-md-2"></div>
        <div class="col-md-10">
             <h1 class="product-title">{{ product.name }}</h1>
        </div>


 <img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid">
 {{ product.description}}    
<span class="">{{ product.subtitle}}</span>
<hr>
<span class="">{{ product.url }}</span>
<hr>
<span>{{ product.email}}</span>    
       
{% endblock %}
