{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}-La voie du Dragon{% endblock %}

{% block content %}
<hr>
<div class="row">
        <h1 class="product-title">{{ product.name }}</h1>
        <div class="col-md-7">
        <img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid">
       </div>
   
       
<div class="col-md-5 my-auto">
        <span class="">{{ product.subtitle}}</span>
            {{ product.description}}  

            <hr>
            <span class="">{{ product.url }}</span>
            <hr>
            <span>{{ product.email}}</span>    
            <a href="{{product.url}}" class="btn btn-primary" target="_blank">Aller sur le site</a>
 </div>   
</div>  
{% endblock %}
