{% extends 'base.html.twig' %}

{% block title %}Mon article- La voie du Dragon{% endblock %}

{% block content %}
<hr>
    <h1 class="title-item">{{ blog.name }}</h1>
<div class="row">
    <div class="col-md-7">
        <span class="subtitle-item">{{ blog.subtitle}}</span></br>
            <div class="blog-item"> {{ blog.description}}  
            </div>

        <hr>
        <span>{{ blog.url }}</span>
        <hr>
        <span>{{ blog.email}}</span>    
        <a href="{{blog.url}}" class="btn btn-primary" target="_blank">Aller sur le site</a>
    </div>       

           
    <div class="col-md-5 my-xl-auto">
        <img src="/uploads/{{ blog.illustration }}" alt="{{ blog.name }}" title="{{ blog.subtitle}}"class="img-fluid">
    
    </div>     
</div>
{% endblock %}
