
<!doctype html>
<html lang="fr">
  <head>
    <!-- meta utf-8 -->
    <meta charset="utf-8">
    <!-- meta pour que le site soit responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- SEO Referencement Robots -->
    <meta name = "robots" content = "index, follow, all" >
    <meta name = "description" content = "Blog sur le bien être en géneral, qi qonk et 
    auto-hypnose,méditations, et aussi une biblitotheques sur les arts martiaux externes 
    et internes" >
    <meta name = "keywords" content = "Blog,arts martiaux externes, arts martiaux internes, 
    Qi Qonk, tai chi chuan, méditations, bien être, philosophie, histoire des arts martiaux">
    <meta property = "og:description" content = "C'est un Blog dédié aux arts martiaux et aux 
    autres aspects des arts martiaux internes et externes, la partie  bien être, et la partie 
    philosophique, des articles et des videos.Une bibliotheque dédié sur l histoire et les 
    differents arts martiaux et les maitres qui ont influencées les arts martiaux externes et internes" > 
    <!-- meta framework author bootsrap -->
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.98.0">
    <!-- titlte -->
    <title>{% block title %}La voie du Dragon{% endblock %}</title> 
    <!-- Boostrap -->
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/css/dragon.css')}}">
    <!-- Favicons -->
    <link rel="icon" type="image/png" href="{{ asset('icons/favicon.ico') }}">
    <!-- responsive -->
    <style>
      .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="{{ asset('assets/css/carousel.css')}}" rel="stylesheet">
    <!-- liens pour cookies consentement osano-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    {% block javascripts %}
    {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
  </head>
      <body> <!-- inclus le header dans le layout header.index.html.twig -->
        {% include "layout/header.html.twig" %}
      <main role="main"><!-- carousel -->
          {# twig condition if pour le carousel si il est definis #}
          {% if block('carousel') is defined %}
            {% include "layout/carousel.html.twig" %}
          {% endif %} {# fin de twig condition if pour le carousel si il est definis #}
            <!-- Marketing messaging and featurettes mis dans home/index.html.twig
            ================================================== -->
            <!-- Wrap the rest of the page in another container to center all the content. -->
          <div class="container marketing {% if block ("carousel") is not defined %}mt-5{% endif %}">
                        {% block content %}  
                        {% endblock %}   
          </div><!-- /.container marketing -->
          {# inclus le footer dans le layout footer.html.twig #}    
        {% include "layout/footer.html.twig" %}
       </main><!-- fin du main -->
          <!-- script consentement cookies -->
          <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
          <script>
          window.cookieconsent.initialise({
            "palette": {
              "popup": {
                "background": "#252e39"
              },
              "button": {
                "background": "transparent",
                "text": "#14a7d0",
                "border": "#14a7d0"
              }
            },
            "position": "bottom-left",
            "type": "opt-in",
            "content": {
              "message": "Notre site utilise Osano en open source pour la collecte des cookies pour vous permettre, une meilleur expérience.Conformément à la loi du 25 mai 2018, le RGPD, le Règlement Général sur la Protection des Données,.Lisez notre politique de confidentialité",
              "dismiss": "Refusez cookies",
              "allow": "Acceptez cookies",
              "deny": "Refusez cookies",
              "href": "https://localhost:8000/politique/confidentialité"
            }
          });
          </script>
          <!-- script js&jquery -->
          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
          <script src={{ asset('assets/js/bootstrap.bundle.js') }}></script>
    </body><!-- fin du body -->
</html>
