<!-- trois colonnes apres le carousel -->
<div class="row"> 
     <div class="col-lg-4">
         <img src="{{ asset('assets/img/body.png')}}" class="img-fluid mt-3" width="140" height="140" 
              title="ying yang dragon" alt="Arts martiaux internes ou externes?">
            <hr>
             <h2 class="fw-normal">Arts martiaux Internes ou Externes?</h2>
             <p>Les arts martiaux externes (waija) sont qualifiées de pratiques dures, renforcement musculaires, 
                dépassement de soi. Les arts martiaux internes (neija) sont  focalisés sur les aspects mentaux,
                spirituels et l'énergie (chi ou qi). Un moteur de recherche sur la page arts martiaux vous permets 
                de connaitre les arts martiaux internes ou externes.</p>
             <p><a class="btn btn-info" href="{{ path('products')}}">C'est ici</a></p>
     </div><!-- 1/.col-lg-4 -->
     <div class="col-lg-4">
         <img src="{{ asset('assets/img/taichichuan.png')}}" class="bd-placeholder-img mt-3" width="140" height="140" 
              title="ying yang symbole du taoisme" alt="Tai Chi Chuan un art martial interne">
         <hr>
         <h2 class="fw-normal">Tai Chi Chuan "Boxe du fait suprême"</h2>
           <p>Art martial chinois dit « interne » (neijia). Traduit souvent par "la boxe du poing suprême" littéralement
              ce serait plus le "boxe du fait suprême". Très souvent vue comme une gymnastique. Les premiers textes citant
              le Tai Chi datent du 13 e Siecle, nommant  
                <a href="#temple_mt_wu_dang"> Zhang Sanfeng.</a>
              Sinon il apparait bien plus tard  par Chen Wangting...
           </p>
           <p> <a class="btn btn-info" href="{{ path('products')}}">Pour lire la suite</a></p>
     </div><!-- 2/.col-lg-4 -->
     <div class="col-lg-4">
           <img class="bd-placeholder-img rounded-circle mt-3" width="140" height="140" 
                src="{{ asset('assets/img/qiqong.png')}}" alt="Qi Qong ying yang" title="Qi Qong gymnastique millénaire">
           <hr>
           <h2 class="fw-normal">Qi Qong</h2>
           <p class="subtitle-item">Gymnastique Millénaire</p>
           <p>Le <b>Qi Qong </b>ou la réalisation de la maitrise du souffle. Gymnastique chinoise millénaire, d’après la
              légende c’est le moine <b>Bodhidharma</b> vers le 5 e siècle, aurait amené au  
                <a href="#temple_shaolin">Temple de Shaolin</a>
              sa science médicale et de combat et l'aurait partagé au Moines de Shaolin pour se protéger des brigands
               et animaux sauvages de la région.
           </p>
           <p><a class="btn btn-info" href="{{ path('app_blogs')}}">Par ici pour lire la suite</a></p>
       </div><!-- 3/.col-lg-4 -->
</div><!-- /.row -->