<div class="row"> 
<div class="doubledragon">
   <div class="p-4 p-md-3 ">
         <p class="subtitle-item ">Ce site est un blog sur les arts martiaux,<a href="#histoire_arts_martiaux"> l'histoire</a>, les différents styles. L'idée est de 
         rétablir la vérité sur l'histoire des arts martiaux et rediriger vers les sites officiels des disciplines.
         Les arts martiaux, c'est bien plus que des enchaînements de coups de pieds et de poings ou de la soumission.
         L'objectif est de centraliser et de vous faire découvrir les autres aspects des arts martiaux et du bien être en général.Des articles sur les lieux important tel que
         le berceau du kung fu <a href="#temple_shaolin">Temple de Shaolin</a>, et le fameux <a href="#temple_mt_wu_dang"> Temple du Mont WU-Dang</a>.Dans la partie
         <a  href="{{ path('app_blogs')}}">BLOG</a> , des articles et prochainement des liens sur des videos de bien être, réservé aux Membres, <a href={{ path('app_register')}}>l'inscription est gratuite</a>,
          l'onglet <a href="{{ path('products')}}">Arts martiaux</a> vous emmenes à la bibliothèques de l histoire, les écoles, les styles, les maitres, bien sur il va me falloir
         beaucoup de temps et de patience pour la completer à 100%, merci par avance pour votre patience.
         </p> 
       <p class="home-item">"Le bonheur n'est pas la destination, le bonheur c'est le chemin"</p>
       <p class="home-item"> citation de Lao Tseu</p>
   </div><!-- /.p-4 p-md-3 -->
 </div><!-- /.doubledragon -->
</div><!-- /.row -->
<!-- trois colonnes apres le carousel -->
<div class="row"> 
     <div class="col-lg-4">
         <img src="{{ asset('assets/img/body.png')}}" class="img-fluid mt-3" width="140" height="140" title="ying yang dragon"alt="Arts martiaux internes ou externes?">
            <hr>
             <h2 class="fw-normal">Arts martiaux Internes ou Externes?</h2>
             <p>Les arts martiaux externes (waija) sont qualifiées de pratiques dures, renforcement musculaires, dépassement de soi.
               Les arts martiaux internes (neija) sont  focalisés sur les aspects mentaux, spirituels et l'énergie (chi ou qi).
               Un moteur de recherche sur la page arts martiaux vous permets de connaitre les arts martiaux internes ou externes.</p>
             <p><a class="btn btn-info" href="{{ path('products')}}">C'est ici</a></p>
     </div><!-- 1/.col-lg-4 -->
     <div class="col-lg-4">
         <img src="{{ asset('assets/img/taichichuan.png')}}" class="bd-placeholder-img mt-3" width="140" height="140" title="ying yang symbole du taoisme" alt="Tai Chi Chuan un art martial interne">
         <hr>
         <h2 class="fw-normal">Tai Chi Chuan "Boxe du fait suprême"</h2>
           <p>Art martial chinois dit « interne » (neijia). Traduit souvent par "la boxe du poing suprême" littéralement ce serait plus le "boxe du fait suprême". Très souvent vue comme une gymnastique.
             Les premiers textes citant le Tai Chi datent du 13 e Siecle, nommant  <a href="#temple_mt_wu_dang"> Zhang Sanfeng.</a> Sinon il apparait bien plus tard  par Chen Wangting...</p>
         <p> <a class="btn btn-info" href="{{ path('products')}}">Pour lire la suite</a></p>
     </div><!-- 2/.col-lg-4 -->
     <div class="col-lg-4">
           <img class="bd-placeholder-img rounded-circle mt-3" width="140" height="140" src="{{ asset('assets/img/qiqong.png')}}" alt="Qi Qong ying yang" title="Qi Qong gymnastique millénaire">
           <hr>
           <h2 class="fw-normal">Qi Qong</h2>
           <p class="subtitle-item">Gymnastique Millénaire</p>
           <p>Le <b>Qi Qong </b>ou la réalisation de la maitrise du souffle. Gymnastique chinoise millénaire, d’après la légende c’est le moine
           <b>Bodhidharma</b> vers le 5 e siècle, aurait amené au  <a href="#temple_shaolin">Temple de Shaolin</a>
           sa science médicale et de combat et l'aurait partagé au Moines de Shaolin pour se protéger des brigands et animaux sauvages de la région.</p>
           <p><a class="btn btn-info" href="{{ path('app_blogs')}}">Par ici pour lire la suite</a></p>
       </div><!-- 3/.col-lg-4 -->
</div><!-- /.row -->